.ninverification-container {
    width: 100%;
    height: calc(100vh - 110px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eeffee;
}

.nin-search {
    width: 70%;
    padding: 40px 30px;
    background-color: white;
    border-radius: 8px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.nin-cont {
    width: 100%;
}

.nin-cont h1 {
    font-size: 24px;
    color: black;
    text-align: center;
}

#checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    font-size: 12px;
    margin: 20px auto 0px auto;
}

#checkbox-container input {
    padding: 0px;
    cursor: pointer;
}

.result-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.404);
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.result-container h2 {
    // font-size: 1.5rem;
    color: var(--active-hover);
}

.result-container span {
    font-weight: bold;
}

.lower-part {
    display: flex;
    justify-content: space-between;
}

.lower-part p {
    font-size: 0.8rem;
}

.ver-outer {
    width: 500px;
    border-radius: 12px;
    background-color: white;
    padding: 40px 30px;
}